@layout Layout1

<h2 class="bg-primary text-white text-center p-2">Blazor bind:culture</h2>
@page "/Binding7"
@using System.Globalization;

<input type="text" class="form-control" @bind="SaleTime" @bind:format="MMM-dd"  @bind:culture="CultureGB" />
<input type="text" class="form-control" @bind="SaleTime" @bind:format="MMM-dd" @bind:culture="CultureFR" />
 
@code {
    public DateTime SaleTime { get; set; } = DateTime.Parse("2020/05/15 07:20");
    public CultureInfo CultureFR { get; set; } = CultureInfo.GetCultureInfo("fr-FR");
    public CultureInfo CultureGB { get; set; } = CultureInfo.GetCultureInfo("en-gb");
}