@inherits LayoutComponentBase

<header class="bg-dark">
	<nav class="text-center">
		<a class="text-white" href="/">Home</a>
		<a class="text-white" href="Iexample">Events & Data Binding</a>
		<a class="text-white" href="contact">Contact</a>
	</nav>
</header>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3">
			<MyNav />
		</div>
		<div class="col-sm-9">
			@Body
		</div>
	</div>
</div>

<footer class="bg-success">
	All Rights Reserved
</footer>