<style>
    .active {
        color: red;
        font-size: 120%
    }
    a{
        text-decoration:none;
    }
</style>
 
<div class="p-3 mb-2 bg-warning text-dark">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink href="/" Match="NavLinkMatch.All">
                Index
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink href="/City">
                City
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink href="/Country">
                Country
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink href="/Continent">
                Continent
            </NavLink>
        </li>
    </ul>
    <br/>
    <button class="mx-auto btn btn-success" style="width: 120px;" @onclick="NavigateUser">Country</button>
</div>

@code {

    [Inject]
    public NavigationManager NM { get; set; }

    public void NavigateUser() => NM.NavigateTo("/Country");

}