<style>
	.active {
		color: red;
	}

	a {
		text-decoration: none;
	}
</style>

<div class="p-3 mb-2 bg-warning text-dark">
	<h3 class="bg-info text-white"><a href="https://www.yogihosting.com/blazor-events-data-bindings/" target="_blank"> Events & Data Bindings - "Tutorial link click here"</a></h3>
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink href="/Iexample">
				OnChange Text
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink href="/Iexample1">
				OnChange Multiple
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink href="/Iexample2">
				OnChange Select
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink href="/Iexample3">
				OnChange Checkbox
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink href="/Iexample4">
				OnChange Radio Button
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink href="/Iexample5">
				Event Propagation 1
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink href="/Iexample6">
				Event preventDefault
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink href="/Iexample7">
				Event Propagation 2
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink href="/Iexample8">
				Event stopPropagation
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink href="/Binding1">
				One Way Binding
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink href="/Binding2">
				Two Way Binding
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink href="/Binding3">
				@@bind Attribute
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink href="/Binding4">
				@@bind/onchange
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink href="/Binding5">
				@@bind-event
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink href="/Binding6">
				bind:format
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink href="/Binding7">
				bind:culture
			</NavLink>
		</li>
	</ul>
</div>