@page "/city3"
 
<h3 class="bg-info text-white">Select Your City</h3>
<SelectCity3 MyCity="Mumbai" MyBackground="bg-warning">
    <Description><label>Commercial capital of India</label></Description>
    <Weather>Moderate and Humid</Weather>
    <Elevation>14 m</Elevation>
</SelectCity3>