@page "/"

<PageTitle>Index</PageTitle>

<h1>All the example links are given on the left side menu.</h1>

<h2>Visit the tutorial links on yogihosting at:</h2>
<ul>
	<li><a target="_blank" href="https://www.yogihosting.com/blazor-razor-components/">How to use Razor Components in Blazor</a></li>
	<li><a target="_blank" href="https://www.yogihosting.com/blazor-advanced-razor-components/">Advanced Razor Components features in Blazor</a></li>
	<li><a target="_blank" href="https://www.yogihosting.com/blazor-lifecycle/">Razor Components Lifecycle Methods of Blazor</a></li>
</ul>

<SurveyPrompt Title="How is Blazor working for you?" />
